.Sidebar{
    height: 100%;
    width: 250px;
    background-color: #2f4050;
}


.SidebarList{
    height: 100%;
    width: 100%;
}

.SidebarList .row{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.row #icon{
    flex: 30%;
    /* flex: 40%; */
    display: grid;
    /* place-items: center; */
    place-items: end;
}

.row #title{
    flex: 80%;
    padding-left: 8px;
    /* padding-left: 8px; */
}

.SidebarList .row:hover{
    cursor: pointer;
    background-color: #293846;
}