*{
    margin: 0;
    padding: 0;
}
.dashboard {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    position: relative;
    height: 90%;
    box-shadow: -1px 7px 38px -8px rgba(0,0,0,0.77);
    -webkit-box-shadow: -1px 7px 38px -8px rgba(0,0,0,0.77);
    -moz-box-shadow: -1px 7px 38px -8px rgba(0,0,0,0.77);
  }
  
 .dashboard h2 {
    text-align: center;
  }
  
  .dashboard .input-group {
    margin-bottom: 15px;
  }
  
  .dashboard .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .dashboard .input-group input,
  .dashboard .input-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dashboard  button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* margin-top: 6px; */
  }

  .dashboard h3  {
    margin-top: 6px;
  }
  
  .dashboard   button:hover {
    background: #0056b3;
  }
  
  .dashboard  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard ul li {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .dashboard ul li p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .dashboard ul li button {
    background: #dc3545;
  }
  
  .dashboard ul li button:hover {
    background: #c82333;
  }


  .App {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

.App .sidebar-div{
  width: 250px;
  height: 100vh;
}


  

.Schedule{
    width: 47%;
    height: 75vh;
    margin: 0 auto;
    /* border: 1px solid black; */
    margin-top: 8px;
}

